@charset "UTF-8";
@font-face {
  font-family: Alegreya Sans;
  /* Имя шрифта */
  src: url(AlegreyaSans-Medium.ttf);
  /* Путь к файлу со шрифтом */
}
.main {
  background: url(img/background.png);
  color: #fafafa;
  text-align: center;
}
.main .header .header__shortabout {
  font-size: 12px;
  opacity: 0.8;
  padding: 60px 0 20px 0;
}
.main .header .header__name {
  font-size: 27px;
  padding-bottom: 30px;
  font-weight: bold;
}
.main .header .header__name:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 10px;
  left: 50%;
  background-color: white;
  margin: 50px 0 0 -30px;
}
.main .header .header__text {
  opacity: 0.8;
  padding: 10px 10px 20px 10px;
}
@media (min-width: 500px) {
  .main .worker {
    display: flex;
    justify-content: center;
  }
  .main .worker__column {
    padding-left: 0px;
    width: 16%;
    position: relative;
  }
  .main .worker__column .worker__img {
    width: 80%;
    max-width: 250px;
  }
  .main .worker__column .worker__professian {
    opacity: 0.8;
    font-size: 15px;
    padding: 20px 0 10px 0;
  }
  .main .worker__column .worker__name {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .main .worker__column .worker__about {
    opacity: 0.8;
    font-size: 13px;
    line-height: 2;
    margin: 5px 10px 0 10px;
  }
}

@media (max-width: 500px) {
  .worker__img {
    width: 60%;
  }

  .worker__column {
    padding: 10px 10px 10px 10px;
  }

  .worker__professian {
    opacity: 0.8;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
  }

  .worker__name {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
  }

  .worker__about {
    opacity: 0.8;
    font-size: 13px;
    line-height: 2;
    margin: 10px 10px 10px 10px;
  }

  .header__text {
    opacity: 0.8;
    padding: 10px 10px 10px 10px;
  }
}