@charset "UTF-8";
@font-face {
  font-family: Alegreya Sans;
  /* Имя шрифта */
  src: url(AlegreyaSans-Medium.ttf);
  /* Путь к файлу со шрифтом */
}
.main {
  background: url(img/background.png);
  color: #fafafa;
  text-align: center;
  height: 900px;
}
.main .header .header__shortabout {
  font-size: 12px;
  opacity: 0.8;
  padding: 60px 0 20px 0;
}
.main .header .header__name {
  font-size: 27px;
  padding-bottom: 30px;
  font-weight: bold;
}
.main .header .header__name:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 10px;
  left: 50%;
  background-color: white;
  margin: 50px 0 0 -30px;
}
.main .header .header__text {
  opacity: 0.8;
  padding-bottom: 50px;
}
.main .worker {
  display: inline;
}
.main .worker .worker__column {
  float: left;
  width: 16%;
  position: relative;
}
.main .worker .worker__column .worker__img {
  max-width: 250px;
}
.main .worker .worker__column .worker__professian {
  opacity: 0.8;
  font-size: 15px;
  padding: 20px 0 10px 0;
}
.main .worker .worker__column .worker__name {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
.main .worker .worker__column .worker__about {
  opacity: 0.8;
  font-size: 13px;
  line-height: 2;
  margin: 5px 10px 0 10px;
}