$op: 0.8; //Прозрачность шрифта
@font-face {

    font-family: Alegreya Sans; /* Имя шрифта */
    
    src: url(AlegreyaSans-Medium.ttf); /* Путь к файлу со шрифтом */
    
    } 
.main{
    background: url(img/background.png);
    color: rgb(250, 250, 250);
     text-align: center;
     
    
     .header{
         
         .header__shortabout{
          font-size: 12px; 
          opacity: $op; 
          padding: 60px 0 20px 0 ;
         }
         .header__name{
             font-size:27px;
             padding-bottom: 30px;
             font-weight: bold;
             &:after{
                 content:'';
                 position: absolute;
                 width: 70px;
                 
                 height: 10px;
                 left:50%;
                 background-color: white;
                 margin: 50px 0 0 -30px;
             }
         } 
         .header__text {
         opacity: $op;
         padding: 10px 10px 20px 10px;

         } 
            }
            @media (min-width:500px){
      .worker{
          display:flex;
          justify-content: center;}
          .worker__column{
            padding-left: 0px;
            width: 100%/4-9%;
            position: relative;

          .worker__img{
             width:80%; 
             max-width: 250px;


          }
          .worker__professian{
             opacity: $op;
             font-size:15px;
             padding: 20px 0 10px 0;

          }
          .worker__name{
            font-size:22px;
            text-transform:uppercase;
            font-weight: bold;
          }
          .worker__about{
             opacity: $op;
             font-size:13px;
             line-height: 2;
             margin: 5px 10px 0 10px;
          }
      }
    }
    
}
@media (max-width:500px){
    .worker__img{
        width:60%;
}
.worker__column{
    padding: 10px 10px 10px 10px;}
    .worker__professian{
        opacity: $op;
        font-size:15px;
        padding: 10px 10px 10px 10px;

     }
     .worker__name{
       font-size:22px;
       text-transform:uppercase;
       font-weight: bold;
       padding: 10px 10px 10px 10px;
     }
     .worker__about{
        opacity: $op;
        font-size:13px;
        line-height: 2;
        margin: 10px 10px 10px 10px;
     }
     .header__text {
        opacity: $op;
        padding: 10px 10px 10px 10px;

        } 
}