
.main{
    background-color: rgb(82, 218, 123);
     .header{
         .header__shortabout{

         }
         .header__name{

         } 
         .header__text {
             
         } 
            
      
    }
}